#main-wrapper {
    background-color: #f5f8fe;
    height: 90.4vh;
}
.main-container {
    /*width: 90vw!important;*/
    margin: 0 auto;
}
#top-section-wrapper {
    background-image: url(/public/main-bg-1.jpg);
    background-size:cover;
    min-height: 90.4vh;
}
.top-section {
    margin: 12em 0 0 5.5em;
}
.top-section h1, h4 {
    margin: 0.5em 0 0.8em 0;
}
.check-btn {
    margin: 1em 0 0 0.4em;
}
.check-btn, .check-btn:hover, .check-btn:active, .check-btn:visited {
    background-color: #04369a !important;
    border-color: #042c7c;
}
