.panel {
    border: none;
    box-shadow: none;
    width: 19em;
    margin: 1em 0 0 1em;
    float: left;
}

.category-header {
    margin: 0;
}

.category-header-wrapper {
    background-color: #042c7c;
    color: white;
}

.category-header-wrapper:hover {
    color: white;
}