body {
    background-color: #f5f8fe;
}
.main-container {
    display: grid;
    grid-template-columns: 19em 72em;
    justify-content: center;
    grid-row-gap: 3em;
    grid-column-gap: 3.5em;
    margin: 3em auto;
}

.products-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 15em);
    grid-row-gap: 2em;
    grid-column-gap: 4em;
}
