.search-btn:hover, .search-btn:active, .search-btn:visited {
    background-color: #04369a !important;
    border-color: #042c7c;
}

.bg-navbar {
    background-color: #ebf2fe;
    -webkit-box-shadow: 0px 1px 30px 0px lightgray;
    -moz-box-shadow: 0px 1px 30px 0px lightgray;
    box-shadow: 0px 1px 30px 0px lightgray;
}
