.product-details-wrapper {
    width: 100em;
    margin: 0 auto;
}

.bottom-margin-8 {
    margin-bottom: 10em!important;
}

.product-details-wrapper .quantity-input {
    width: 100px;
    margin-right: 0.5em;
}

.product-details-wrapper .img-container {
    float: left;
    width: 40em;
    margin-left: 10em;
}

.product-details-wrapper .details-container {
    width: 35em;
    float: left;
    margin-top: 10em;
    margin-left: 5em;
}

.product-details-wrapper .font-weight-bold {
    font-weight: bold;
}

.product-details-wrapper .field-value-wrapper {
    margin-left: 3em;
}

.product-details-wrapper .category-wrapper {
    padding: 0.4em 0.6em;
    border-radius: 0.2em;
    background-color: #04369a;
    color: white;
    float: left;
    margin-left: 0.1em;
    box-shadow: 0px 0px 6px grey;
}

.product-details-wrapper .id-wrapper {
    padding: 0.4em 0.6em;
    border-radius: 0.2em;
    background-color: darkmagenta;
    color: white;
    margin-left: 0.7em;
    float: left;
    box-shadow: 0px 0px 6px grey;
}

.product-details-wrapper .clear-both {
    clear: both;
}

.top-margin-1 {
    margin-top: 1em
}

.top-margin-2 {
    margin-top: 2em
}

.top-margin-4 {
    margin-top: 4em
}

.product-details-wrapper .name-header {
    margin-bottom: 0.3em;
}

.product-details-wrapper .btn-add-to-cart {
    box-shadow: 0px 0px 6px grey;
    border-radius: 0.1em;
}
